<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:protocol name="dubbo" port="20881" />
    <dubbo:application name="user-soa-provider-test" owner="user-soa" organization="dubbox"/>
    <dubbo:registry address="zookeeper://192.168.1.204:2181" id="elZookeeper"/>

    <dubbo:reference interface="com.el.tender.soa.service.wst.solr.IWmpsBuyRecordSolrService" id="wmpsBuyRecordSolrService" group="tender-soa" version="1.0"
                     timeout="7000" protocol="dubbo" registry="elZookeeper" validation="false" lazy="true" />
    <dubbo:reference interface="com.el.tender.soa.service.wst.IWmpsBuyRecordService" id="wmpsBuyRecordService" group="tender-soa" version="1.0"
                     timeout="7000" protocol="dubbo" registry="elZookeeper" validation="false" lazy="true" />


</beans>