<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--定时任务：购买翼存宝,定时更新db中的数据-->
    <bean id="timerSynchroRedisTaskService" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <bean class="org.springframework.scheduling.quartz.CronTriggerBean">
                    <property name="jobDetail">
                        <bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
                            <property name="targetObject" ref="esService"/>
                            <property name="targetMethod" value="DeleteByQuery"/>
                            <property name="concurrent" value="false"/>
                        </bean>
                    </property>
                    <property name="cronExpression" value="0 0 0/1 * * ?"/>
                </bean>
            </list>
        </property>

        <property name="autoStartup">
            <value>false</value>
        </property>

        <property name="startupDelay" value="60"/>

        <property name="quartzProperties">
            <props>
                <prop key="org.quartz.threadPool.threadCount">1</prop>
            </props>
        </property>

    </bean>




</beans>