<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

       <bean id="esUtils" class="com.el.unity.log.common.es.ESUtils" >
              <property name="esIps" value="${unity-log.es.ips}"/>
              <property name="esClusterName" value="${unity-log.es.cluster.name}"/>
              <property name="esClientTransportSniff" value="${unity-log.es.client.transport.sniff}"/>
       </bean>
</beans>