#set($title = "ES管理页面")
<div style="text-align: center;">




    <form id="SerachByFile" action="/esf/serachES.action" >
        <input  type="hidden" id = "esindex" name="esSerach.index"  value="$!esSerach.index"></input>
        <input  type="hidden" id="estype"  name="esSerach.type"  value="$!esSerach.type"></input>
        <input  type="hidden"  id = "esdomain" name="domainName"  value="$!domainName"></input>
        <input  type="hidden"  id="esSerachorderFile"  name="esSerach.orderFile"  value="$!esSerach.orderFile"></input>
        <input  type="hidden" id="hp_domain"   name="hp.domain"  value="$!hp.domain"></input>
        <input  type="hidden" id="hp_logType"   name="hp.logType"  value="$!hp.logType"></input>
        <input  type="hidden"    name="hp.isBeginMethod"  value="yes"></input>
        <input  type="hidden"  name="hp.SearchType" id="text-SearchType"  value="or"></input>
        <input  type="hidden"  name="hp.HightLight" id="text-havaHightLight"  value="no"></input>
        <input type="hidden" name="rows" id="rowshidden">
        <input type="hidden" name="page" id="pagehidden">

        <table class="table" style="width:98%;height:auto;">
            <tr >
                <td style="text-align:left">
                    <input class="easyui-textbox" style="width:35%" type="text" id="hpcontext" name="hp.context" ></input>
                    <input type="checkbox" id="SearchType-And"   onchange="SearchTypeChange()">精确匹配
                    <input type="checkbox" id="havaHightLight"   onchange="HightLightChange()">高亮
                    <input type="checkbox" id="isGlobalESSearch"   onchange="globalESSearchChange()">全局搜索

                    <a href="#" class="easyui-linkbutton" iconCls="icon-search"  onclick=" $('#pagehidden').val(1);$('#SerachByFile').submit()"style="width:100px;">搜索</a>

                    <a href="#" class="easyui-linkbutton" iconCls="icon-reload"  onclick="orderBySpentime()"style="width:110px;">按耗时排序</a>

##                    <a href="#" class="easyui-linkbutton" iconCls="icon-reload"  onclick="showExceptionCount()"style="width:100px;">错误统计</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-reload"  onclick="showMethodsCount()"style="width:100px;">调用统计</a>

                </td>

            </tr>
            <tr>
                <td style="text-align:left">
                    TreeId
                    <input class="easyui-textbox" style="width:100px" type="text" id="hptreeId" name="hp.treeId" ></input>
                    RequestId
                    <input class="easyui-textbox" style="width:100px" type="text" id="hprequestId" name="hp.requestId" ></input>
                    TransactionId
                    <input class="easyui-textbox" style="width:100px" type="text" id="hptransactionId" name="hp.transactionId" ></input>

                    IP
                    <input     name="hp.localHostIp" id="hp-ocalHostIp" class="easyui-textbox" style="width: 100px" ></input>
                    类型
                    <input     name="hp.contextType" id="hp-contextType" class="easyui-textbox" style="width: 100px" ></input>

                </td>


            </tr>
        </table >
        <table class="table" style="width:98%;height:auto;text-align: left">
            <tr>
                <td>

                    日志级别
                    <input class="easyui-textbox" style="width: 100px"  id="hplevel" name="hp.level" >

                    生成日期
                    <input class="easyui-datetimebox" style="width: 150px" id="hpcreated-begain"  name="hp.created_begain">
                    -
                    <input class="easyui-datetimebox" style="width: 150px" id="hpcreated-end"  name="hp.created_end">

                    <a href="#" class="easyui-linkbutton" iconCls="icon-reload"  onclick="JustToday()"style="width:100px;">默认时间</a>
                </td>

            </tr>
        </table>
        <div style="height:15px;"></div>
        <table class="easyui-datagrid" id="resultContext"  title="搜索结果" style="width:98%;height:700px;"
               data-options="singleSelect:true,collapsible:true,nowrap:false,onDblClickRow:showMore" pagination="true">
            <thead>
            <tr>
                <th data-options="field:'localHostIp',align:'left',styler:noBorderCellStyler" >Ip</th>

                <th data-options="field:'context',align:'left',styler:noBorderCellStyler"  >日志内容</th>
                <th data-options="field:'spendTime',align:'left',styler:noBorderCellStyler"  >消耗</th>
                <th data-options="field:'methodStart',align:'left',styler:noBorderCellStyler" formatter="getLocalTime" >开始时间</th>
                <th data-options="field:'methodEnd',align:'left',styler:noBorderCellStyler" formatter="getLocalTime"  >结束时间</th>
                <th data-options="field:'treeId',align:'left',styler:noBorderCellStyler" >treeId</th>
                <th data-options="field:'requestId',align:'left',styler:noBorderCellStyler" >requestId</th>
                <th data-options="field:'transactionId',align:'left',styler:noBorderCellStyler" >transactionId</th>
                <th data-options="field:'className',align:'left',styler:noBorderCellStyler"  >类名</th>
                <th data-options="field:'methodName',align:'left',styler:noBorderCellStyler"  >方法</th>

                <th data-options="field:'localHostName',align:'left',hidden:true" >机器名称</th>
                <th data-options="field:'logType',align:'left',hidden:true" >logType</th>
                <th data-options="field:'domain',align:'left',hidden:true">域名</th>
                <th data-options="field:'contextType',align:'left',hidden:true" formatter="getLowercaseletters" >日志类型</th>
                <th data-options="field:'isBeginMethod',align:'left',hidden:true">isBeginMethod</th>
                <th data-options="field:'level',align:'left',hidden:true" >级别</th>
                <th data-options="field:'created',align:'left',hidden:true" formatter="getLocalTime" >生成日期</th>
                <th data-options="field:'remark',align:'left',hidden:true">备注</th>
            </tr>
            </thead>
        </table>
    </form>

    <div id="resultContexthtml"></div>


    <div id="es_right_menu" class="easyui-menu" style="width: 30px; display: none;">
        <!--放置一个隐藏的菜单Div-->
        <div id="btnShowMore" data-options="iconCls:'icon-print'" onclick="showMore()">显示调用链</div>
        <div id="btnShowImg" data-options="iconCls:'icon-print'" onclick="ShowEsImg()">图形展示历史信息</div>
    </div>

    <div class="easyui-dialog" style="width: 400px; height: 320px; padding: 10px 20px;"
         closed="true">
    </div>


    <div id='Loading' style="position: absolute; z-index: 1000; top: 0px; left: 0px;
    width: 100%; height: 100%; background: white; text-align: center;">
        <h1 style="top: 48%; position: relative;">
            数据正在加载中……
        </h1>
    </div>

    <script type="text/javascript">

        function orderBySpentime(){
            $("#esSerachorderFile").val("spendTime");
            $('#pagehidden').val(1);
            $('#SerachByFile').submit()
        }

        function noBorderCellStyler(){
            return 'border:0;';
        }

        function closes() {
            $("#Loading").fadeOut("normal", function () {
                $(this).remove();
            });
        }

        var pc;
        $.parser.onComplete = function () {
            if (pc) clearTimeout(pc);
            pc = setTimeout(closes, 1000);
        }


        $(function(){

            #if(!($!msg))
                JustToday();
                $("<div class=\"datagrid-mask\"></div>").css({display:"block",width:"100%",height:$(window).height()}).appendTo("body");
                $("<div class=\"datagrid-mask-msg\"></div>").html("正在处理，请稍候。。。").appendTo("body").css({display:"block",left:($(document.body).outerWidth(true) - 190) / 2,top:($(window).height() - 45) / 2});

                $('#resultContext').datagrid("getPager").pagination("loading");
                $('#pagehidden').val(1);$('#SerachByFile').submit();

            #end

        });


            #if($!msg.trim().isEmpty()==false)
            var searchMsgJson =$!msg;
            $(function () {
                var easyuijson ={};
                var searchMsg="";
                var hits = searchMsgJson.hits.hits;
                //组合符合easyui格式的json串
                for(var i=0;i<hits.length;i++){
                    #if($!hp.HightLight)
                        var HightLight='$!hp.HightLight';
                        if(HightLight=='yes'){
                            //抽离要高亮显示的字段
                            var highlights=hits[i].highlight.context;
                            var highlightSTR='';
                            for(var j=0;j<highlights.length;j++){
                                highlightSTR=highlightSTR+highlights[j];
                            }
                            hits[i]._source["@message"].context=highlightSTR;
                        }

                    #end
                    hits[i] = hits[i]._source["@message"];
                }
                easyuijson.rows=hits;

                //datagrid手动载入数据，并进行分页处理
                $('#resultContext').datagrid('loadData',easyuijson);
                var p = $('#resultContext').datagrid('getPager');
                p.pagination({
                    total:searchMsgJson.hits.total,
                    pageSize:$!rows,
                    pageList: [30,50,80,100,150],
                    pageNumber:$!page,
                    onSelectPage:function(pageNumber, pageSize){//当触发改动页码时重新请求数据
                        $("#rowshidden").val(pageSize);
                        $("#pagehidden").val(pageNumber);
                        $('#SerachByFile').submit();
                    }
                });


                choiceLastVlueInSecondSubmit("hpcontext","text","$!hp.context");

                choiceLastVlueInSecondSubmit("hptreeId","text","$!hp.treeId");
                choiceLastVlueInSecondSubmit("hprequestId","text","$!hp.requestId");
                choiceLastVlueInSecondSubmit("hptransactionId","text","$!hp.transactionId");

                choiceLastVlueInSecondSubmit("hplevel","text","$!hp.level");
                choiceLastVlueInSecondSubmit("hpcreated-begain","text","$!hp.created_begain");
                choiceLastVlueInSecondSubmit("hp-ocalHostIp","text","$!hp.localHostIp");
                choiceLastVlueInSecondSubmit("hp-contextType","text","$!hp.contextType");
                choiceLastVlueInSecondSubmit("hpcreated-end","text","$!hp.created_end");
                $("#text-SearchType").val("$!hp.SearchType");
                if($("#text-SearchType").val()=="and"){
                    $("#SearchType-And").attr("checked","checked");
                }else{
                    $("#SearchType-And").removeAttr("checked");
                }


                $("#text-havaHightLight").val("$!hp.HightLight");
                if($("#text-havaHightLight").val()=="yes"){
                    $("#havaHightLight").attr("checked","checked");
                }else{
                    $("#havaHightLight").removeAttr("checked");
                }

                var eldomain = '$!hp.domain';
                if(eldomain.length == 0 ){
                    $("#isGlobalESSearch").attr("checked","checked");
                }else{
                    $("#isGlobalESSearch").removeAttr("checked");
                }
            });
            #end

        $("#resultContext").datagrid({
            onRowContextMenu: function (e, rowIndex, rowData) { //右键时触发事件
                e.preventDefault(); //阻止浏览器捕获右键事件
                $(this).datagrid("clearSelections"); //取消所有选中项
                $(this).datagrid("selectRow", rowIndex); //根据索引选中该行
                $('#es_right_menu').menu('show', {
                    //显示右键菜单
                    left: e.pageX,//在鼠标点击处显示菜单
                    top: e.pageY
                });
                e.preventDefault();  //阻止浏览器自带的右键菜单弹出
            }
        });

        function choiceLastVlueInSecondSubmit(objectid,objecttype,lastValue){
            if(objecttype=="text"){
                $("#"+objectid).textbox('setValue',lastValue)
            }else if (objecttype=="select"){
                $("#"+objectid).combobox('select', lastValue);
            }
        }



        //确定是否精确搜索（所有词条都出现才作为结果返回）
        function SearchTypeChange(){

            if($('#SearchType-And').is(':checked')) {
                $("#text-SearchType").val("and");
            }else{
                $("#text-SearchType").val("or");
            }

        }

        //确定是否高亮显示字符
        function HightLightChange(){
            if($('#havaHightLight').is(':checked')) {
                $("#text-havaHightLight").val("yes");
            }else{
                $("#text-havaHightLight").val("no");
            }
        }

        //确定是否全局搜索
        function globalESSearchChange(){
            if($('#isGlobalESSearch').is(':checked')) {
                $("#hp_domain").val("");
            }else{
                $("#hp_domain").val("$!domainName");
            }
        }


        //快速选择今天
        function JustToday(){
            //设置时间
            var timeEnd = new Date();
            var timeBegin = new Date();
            var beginHours= timeEnd.getHours()-1;
            timeBegin.setHours(beginHours);

            $("#hpcreated-begain").datetimebox("setValue",formatter(timeBegin));
//            today.setHours(23);
//            today.setMinutes(59);
//            today.setSeconds(59);

            $("#hpcreated-end").datetimebox("setValue",formatter(timeEnd));
        }

        function showMore(){


            var row = $("#resultContext").datagrid("getSelected");
            if(row.treeId==""){
                $.messager.alert("提示信息", "您选中的记录没有关键信息treeId，无法展示信息！");
            }else{
                var showMoreUrl ="";
                showMoreUrl ="$!homeModule.getTarget("/esf/showmorefilesource.action")";
                showMoreUrl = showMoreUrl+"?esindex="+"$!esSerach.index"+"&estype="+"$!esSerach.type"+"&localHostIp="+row.localHostIp+"&domain="+row.domain+"&treeId="+row.treeId;
                //window.open(showMoreUrl);
                window.parent.addEsImgTab(row.treeId,showMoreUrl);
            }


        }



        //打开查询错误统计的信息页面
        function showExceptionCount(){
            var showMoreUrl ="";
            var esindex = $("#esindex").val();
            var estype = $("#estype").val();
            var esdomain = $("#esdomain").val();
            var created_begain = $("#hpcreated-begain").datebox("getValue");
            var created_end = $("#hpcreated-end").datebox("getValue");
            showMoreUrl ="$!homeModule.getTarget("/esf/showExceptionCount.action")";
            showMoreUrl = showMoreUrl+"?esindex="+esindex+"&estype="+estype+"&domain="+esdomain+"&created_begain="+created_begain+"&created_end="+created_end;;
            //window.open(showMoreUrl);
            window.parent.addEsImgTab("ExceptionCount",showMoreUrl);
        }

        //打开查询错误统计的信息页面
        function showMethodsCount(){
            var showMoreUrl ="";
            var esindex = $("#esindex").val();
            var estype = $("#estype").val();
            var esdomain = $("#esdomain").val();
            var created_begain = $("#hpcreated-begain").datebox("getValue");
            var created_end = $("#hpcreated-end").datebox("getValue");
            var logType = $("#hp_logType").val();
            showMoreUrl ="$!homeModule.getTarget("/esf/showMethodsCount.action")";
            showMoreUrl = showMoreUrl+"?esindex="+esindex+"&logType="+logType+"&estype="+estype+"&domain="+esdomain+"&created_begain="+created_begain+"&created_end="+created_end+"&logType="+logType;
            //window.open(showMoreUrl);
            window.parent.addEsImgTab("MethodsCount",showMoreUrl);
        }


        function showMsgMoreInfo(row){

            load();
            var minis = $('#elminis').textbox('getValue');



        }

        function serchShowMore(){

            var row = $("#resultContext").datagrid("getSelected");
            if(row){
                showMsgMoreInfo(row);
            }else{
                $.messager.alert("提示信息", "请您先选中某条记录。");
            }
        }

        //弹出加载层
        function load() {


            $('#btn_serchaMoreInfo').linkbutton('disable');
            $('#btn_serchaMoreInfo').width("0px");
            $('#btn_serchaMoreInfo').height("0px");

            $('#btn_printMoreInfo').width("0px");
            $('#btn_printMoreInfo').height("0px");

            $('#img_Loading').show();
        }

        //取消加载层
        function disLoad() {
            $('#btn_serchaMoreInfo').linkbutton('enable');
            $('#btn_serchaMoreInfo').width("100px");
            $('#btn_serchaMoreInfo').height("25px");

            $('#btn_printMoreInfo').width("100px");
            $('#btn_printMoreInfo').height("25px");

            $('#img_Loading').hide();
        }

        function myPrint(obj){
            var newWindow=window.open("打印窗口","_blank");//打印窗口要换成页面的url
            newWindow.document.write(obj);
            newWindow.document.close();
            //newWindow.print();
        }


        function printShowMore(printJson){

            var printStr = "<table style='width:100%'>";
            for(var i=0;i<printJson.length;i++){
                printStr = printStr+"<tr><td>"+printJson[i].context+"</td></tr>"
            }
            printStr =printStr + "</table>";
            myPrint(printStr);
        }

        function ShowEsImg(){

            var esindex = $("#esindex").val();
            var estype = $("#estype").val();
            var esdomain = $("#esdomain").val();
            var logType = $("#hp_logType").val();
            var created_begain = $("#hpcreated-begain").datebox("getValue");
            var created_end = $("#hpcreated-end").datebox("getValue");
            var row = $("#resultContext").datagrid("getSelected");
            if(row){
                var esclassname =row.className;
                var esmethodname =row.methodName;
                var  treeId = row.treeId;
                var url="$!homeModule.getTarget('/esimg/eschar.action')"+
                        "?esindex="+esindex+"&estype="+estype+"&domain="+esdomain+ "&logType="+logType+
                        "&className="+esclassname+"&methodName="+esmethodname+"&treeId="+treeId+
                        "&created_begain="+created_begain+"&created_end="+created_end;
                window.parent.addEsImgTab(esclassname+"."+esmethodname,url);
                //window.open(url);
            }



        }


    </script>




